<carousel>
  <slide>
    <img src="assets/pictures/pizza1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Vegetarian pizza</h3>
      <br />
      <p>Good price
        good taste.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/pictures/pizza2.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Home made pizza</h3>
      <br />
      <p>Unique receipts</p>
    </div>
  </slide>
  <slide>
    <img src="assets/pictures/pizza3.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Extra Tomatoes</h3>
      <br />
      <p>Justice League pizza</p>
    </div>
  </slide>
</carousel>
