img {
  width: 260px;
}
.pizza {
  display: inline-block;
  margin: 45px;
  border-radius: 4px;
  background-color: #f3f3f3;
}

.pizza-info{
  padding: 10px;
}

p{
  width:250px;
  margin: 20px 45px;
  font-size: 26px;
  word-wrap: break-word;
  text-align: justify;
}

h1{
  color:#2b2f3e;
  font-family: "Roboto Slab",serif;
}

.pizza_detail {
  color: black;
  font-size: 20px;
  font-family: "Roboto Slab",serif;

}

.pizza-more-info{
  text-align: left;
  font-size: 18px;
  color: #2b2f3e;
}

.text-size{
  color:#959595;
  font-size: 16px;
}

.pizza_title {
    margin: 10px 20px;
    text-align: center;
    cursor: default;
}

.pizza_all {
  font-family: 'Roboto Slab', serif;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: #1d9d74;
  margin: 95px 0 0 105px;
  font-size: 36px;

}

.name {
  font-weight: bold;
  background: transparent;
  border: none;
  color: #1d9d74;
}

.float-form{
  float:left;
}

.format-form{
  display: flex;
  margin: 20px 45px;
}

.fa fa-cutlery{
    margin: 20px;
}

.quantity {
    width: 20%;
}

i:hover {
  color: #1d9d74;
  border-color: #1d9d74;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  width: 60px;
}

input{
  width: 60px;
  text-align: center;
}

select{
  width: 100px;
  padding: 5px;
}

label{
  display: block;
}

.pizza-holder{
  width: 80%;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 1px 2px 17px 0 rgba(0,0,0,0.25);
}

.form-error{
  text-align: left;
  font-size: 12px;
  color: #CC3232;
}

