<div class="pizza_all">
  <div class="pizza-holder">
    <h1><i class="fa fa-cutlery" aria-hidden="true"> Our pizzas </i></h1>
    <li *ngFor="let item of food" class="pizza">
      <div class="pizza-info">
      <span class="pizza_detail">
              <img src='{{ item.picture }}' alt='{{ item.name }}'/>
              <div class="pizza-more-info">
                <p class="pizza-name"> {{ item.name }} </p>
                <p class="text-size"><span class="name">Category:</span>  {{ item.category }} </p>
                <p class="text-size"><span class="name">Top:</span>  {{ item.top }} </p>
                <div class="format-form">
                <form (change)="onChange($event.target, item.food_id, item, quantity.value)"
                     (ngSubmit)="addToCart(cartForm, item, pop)" #cartForm="ngForm">
                  <div class="float-form">
                  <label  class="name"> Size: </label>
                  <select #size  name="size" [ngModel]="sizes[0]">
                    <option *ngFor="let size of sizes" value="{{size}}" [selected]="size == 'small'">{{size}}</option>
                  </select>
                  <label class="name"> Quantity: </label>
                  <input  #quantity  name="quantity" type="number" min="1" max="5" placeholder="1-5" class="quantity"
                           required  [ngModel]="defaultQuantity" value="1"/> <br/><br/>
                  </div>
                  <div class="float-form">
                    <button
                      #pop="bs-popover"
                      placement="bottom"
                      popover="{{message}}"
                      title="Add to cart"
                            type="submit"
                            (click)="hide(pop)"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                  </div>
                </form>
                  </div>
                <div class="clear"></div>
                <p>  €{{(item.basic_price).toFixed(2)}} </p>
              </div>
          </span>
      </div>
    </li>
  </div>
</div>
