
img {
    height: 170px;
    width: 100%;
    border-bottom-color: grey;
    border-bottom-style: solid;
}
.pizza {
    display: inline-block;
    border: solid black 2px;
    border-radius: 7px;
    height: 15%;
    width: 15%;
    margin: 45px;
    background-color: lightblue; 
}

.pizza_detail {
    color: black;
    font-size: 20px;
}

.pizza_title {
    margin: 10px;
    text-align: center;
    cursor: default;
}

.pizza_all {
    font-family: 'Roboto Slab', serif;
}

button {
    width: 100%;
    cursor: pointer;
}

.name {
    font-weight: bold;
}

.fa fa-cutlery{
    margin: 20px;
}

.quantity {
    width: 20%;
}

i:hover {
  color: #1d9d74;
  border-color: #1d9d74;
}