<div class="pizza_all">
<span class="pizza_title"><h1> <i class="fa fa-cutlery" aria-hidden="true"></i> Our pizzas </h1></span>
<li *ngFor="let item of food" class="pizza">
      <div>
          <span class="pizza_detail">
              <img src= '{{ item.picture }}' alt='{{ item.name }}'/> <br>
              <span class="name">Name: </span> {{ item.name }} <br>
              <span class="name">Category: </span> {{ item.category }} <br>
              <span class="name"> Price:  </span> € {{ item.basic_price }} <br>
              <span class="name"> Size:  </span> {{ item.size }} <br>
              <form (ngSubmit)="addToCart(cartForm, item)" #cartForm="ngForm">
                <label for="quantity" class="name"> Quantity: </label>
                <input id="quantity" name="quantity" type="number" min="1" max="5" placeholder="1-5" class="quantity" value="1" required ngModel /> <br/><br/>
                <button type="submit" class="added-food btn btn-success btn-md"> Add to cart </button>
              </form>
          </span>
      </div>
</li>
</div>
