.contact {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 20px;
    cursor: default;
}

i:hover {
  color: #1d9d74;
  border-color: #1d9d74;
}

.error {
    color:#CC3232;
}

.correct {
     color: #1d9d74;
}

h4 {
    color: #1d9d74;
    font-weight: bold;
}

.inform {
     color:#CC3232;
     font-weight: bold;
}