<div class="contact-container">
<div class="contact">
  <h3> <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Us Here! </h3>
    <form (ngSubmit)="contact(contactForm)" #contactForm="ngForm">
        <input mdInput type="text"  placeholder="First Name" name="first_name" id="first_name" required minlength="1" ngModel/>
        <input mdInput type="text"  placeholder="Last Name" name="last_name"  id="last_name" required minlength="1" ngModel/>
        <input mdInput type="email" placeholder="Email" id="email" name="email" required minlength="1" ngModel/>
        <textarea rows="4"  mdInput type="textarea" placeholder="Problem / Note" name="problem" id="problem" required minlength="1" ngModel> </textarea> <br>
        <span class="error" *ngIf="!checked">{{errorMessage}} </span>
        <button class="btn btn-success btn-md check-form" *ngIf="!checked"> Check </button>
        <span class="correct" *ngIf="checked"> All the datas are correct, send the message!</span>
        <button type="submit" id="send" class="btn btn-success btn-md check-form" (click)="staticModal.show()" *ngIf="error === false"> Send </button>
  </form>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [@focusPanel]='state'>
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Message </h4>
             <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide(); toggleMove(); redirect()">
              <span class="inform" aria-hidden="true">X</span>
            </button>
          </div>
          <div class="modal-body">
                <span class="date"> Current Time: {{ time | async | date:'yyyy/MM/dd hh:mm:ss' }} </span><br/><br/>
                Dear  "{{ first_name | capitalize }} {{ last_name | capitalize }}" your message has been sent!<br/><br/>
                Thank you for letting us know about: "{{ problem | uppercase }}" ! <br/><br/>
                We will inform you, check your emails at your email address : "{{ email | uppercase }}". <br/><br/><br/>
                <span class="inform">Note: After closing this window, you will be redirected to the main page.</span>
          </div>
        </div>
      </div>
</div>

<hr>
  <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Google Maps</h3>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2759.09335509877!2d20.147168615838353!3d46.248371888795944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4744886fc6cda3e3%3A0x97c72b5331010bac!2zU3plZ2VkLCBEw7NtIHTDqXIsIDY3MjA!5e0!3m2!1shu!2shu!4v1492454888903" frameborder="0"  allowfullscreen></iframe>
 </div>
<hr>
   <div class="localaddress">
      <div class="local-address add-left">
          <i class="fa fa-home" aria-hidden="true"></i> Address <br />
          <span class="local"> 6720, Szeged Dom Square 20.</span>
      </div>
       <div class="local-address add-center">
          <i class="fa fa-phone" aria-hidden="true"></i> Phone <br />
         <span class="local"> +36 30 123 4567 </span>
       </div>
      <div class="local-address add-right">
        <i class="fa fa-envelope-o" aria-hidden="true"></i> Email <br />
        <span class="local"> info@justice-league.com</span>
      </div>
      <div class="clear"></div>
  </div>
</div>
