.contact {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 15px;
    cursor: default;
}

i:hover {
  color: #1d9d74;
  border-color: #1d9d74;
}

.error {
    color:#CC3232;
}

.correct {
     color: #1d9d74;
}

h4 {
    color: #1d9d74;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}
.inform {
     color:#CC3232;
     font-weight: bold;
}

.localaddress {
    display: -webkit-flex;
    display: flex;   
    font-size: 30px;     
    font-weight: bold;
    text-align: center;
}

.local { 
    font-weight: italic;
    font-size: 15px;
    text-align: center;
}

.map {
    display: block;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.flex-item {
    width: 250px;
    height: 80px;
    margin-left: 300px;
    margin-top: 10px;
}