.contact-container{
  display: block;
  background-color: white;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 1px 2px 17px 0 rgba(0,0,0,0.25);
}

.contact {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    cursor: default;
}

form{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

input{
  width: 80%;
  display: inline-block;
  padding: 5px;
  margin: 15px 0;

}

textarea{
  width: 80%;
  display: inline-block;
  resize: none;
}

i:hover {
  color: #1d9d74;
  border-color: #1d9d74;
}

.error {
    color:#CC3232;
}

.correct {
     color: #1d9d74;
}

.check-form{
  margin: 20px 0 0 10px;
}

span{
  display: block;
}


h1 {
    font-weight: bold;
}
.inform {
     color:#CC3232;
     font-weight: bold;
}

.localaddress {
  display: block;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.local {
    font-size: 15px;
    text-align: center;
}

iframe{
  width: 100%;
  height: 250px;
}

.map {
  display: block;
  width: 80%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

.local-address {
  width: 33%;
  float: left;
}

.add-left{
  text-align: center;
}

.add-center{
  text-align: center;
}

.add-right{
  text-align: center;
}

h3{
  text-align: center;
  padding: 20px 0;

}

