.cart-style > span{
  font-family: 'Roboto Slab', serif;
}

.cart-style{
  font-size: 26px;
  padding: 10px 0 0 0;
  color: #aaa;
  transition: all 0.5s ease;
}

.cart-style:hover{
  color:#1d9d74;
}
