<i (click)="isCollapsed= !isCollapsed" class="fa fa-lg fa-shopping-cart cart-style" aria-hidden="true">
<span      (click)="refreshCart(); isLoggedIn()" > ( {{ totalCount }} item )</span>
</i>
<div
    (appClickOutside)="Close($event)"
     (appClickBuy)="Add($event)"
     (collapsed)="collapsed($event)"
     (expanded)="expanded($event)"
     [collapse]="isCollapsed"
     class="collapse-card card card-block card-header">
    <div class="well well-lg">
      <ng-container *ngIf="foods.length == 0">
        <div class="alert-padding alert alert-danger">
          Cart is empty!
        </div>
      </ng-container>
      <!-- List ordered foods -->
      <ng-container *ngIf="foods.length > 0">
          <div *ngFor="let food of foods">
            <div class="pizza-holder">
              <div class="pizza-img-holder">
                <img src="{{food.picture}}" alt="pizza_img" />
              </div>
              <div class="pizza-data">
                  <div class="pizza-name">
                    <h5>{{food.name}}</h5>
                  </div>
                  <div class="pizza-category">
                    <p><span>Category:</span> {{food.category}}</p>
                  </div>
                  <div class="pizza-size">
                    <p><span>size:</span> {{food.size}} </p>
                  </div>
                  <!-- Check ordered food size for price -->
                  <div class="pizza-price">
                    <p><span>Price: € </span>  {{(food.basic_price * food.quantity).toFixed(2)}} </p>
                  </div>
                <div class="pizza-count">
                  <p><span>Count:</span> {{food.quantity}}</p>
                </div>
              </div>
              <div class="pizza-change-count">
                <div>
                  <label for="count">Count</label><br/>
                  <i (click)="decrement(food)" class="decrement fa fa-minus" aria-hidden="true"></i>
                  <input type="text" value="{{food.quantity}}" id="count" disabled />
                  <i (click)="increment(food)" class="increment fa fa-plus" aria-hidden="true"></i>
                </div>
              </div>
              <div class="pizza-refresh">
                <i class="refresh fa fa-refresh" aria-hidden="true"></i> </div>
              <div class="pizza-delete">
                <i  (click)="removeElement(food)"  class="trash fa fa-trash" aria-hidden="true"></i>
              </div>
            </div>

          </div>
          <div class="clear"></div>
        <div class="info-holder">
            <div class="total-price">
              <span> Total Price : € </span> <span class="price-color">{{totalPrice.toFixed(2)}}</span>
            </div>
          <ng-container *ngIf="loggedIn === false">
          <div class="checkout">
            <button class="btn btn-primary btn-md" (click)="lgModal.show(); isCollapsed= !isCollapsed;">Checkout</button>
          </div>
          </ng-container>
          <ng-container *ngIf="loggedIn === true && orderRequest === false">
            <div class="checkout">
              <button class="btn btn-primary btn-md" (click)="sendOrderRequest()">Checkout</button>
            </div>
          </ng-container>
          <ng-container *ngIf="loggedIn === true && orderRequest === true">
            <div class="checkout">
              <button class="btn btn-danger btn-md" (click)="canelOrderRequest()">Cancel</button>
            </div>
            <div class="checkout">
              <button class="btn btn-success btn-md" (click)="insertUsersOrder()" [disabled]="!isClickable()" (click)="checkClick()">Confirm</button>
            </div>
          </ng-container>
          <div class="clear"></div>
          <div *ngIf="successOrder" class="alert alert-success error">
            <strong><i class="fa fa-check-circle" aria-hidden="true"></i></strong>  {{orderResult}}!
          </div>
        </div>
      </ng-container>
    </div>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"><i class="fa fa-1x fa-info-circle" aria-hidden="true"></i> Enter Your Information</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form (ngSubmit)="insertGuestOrder(orderForm, lgModal)" #orderForm="ngForm">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" placeholder="Enter Your First Name" required ngModel/>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter Your Last Name" required  ngModel/>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" placeholder="Enter Your Address" required ngModel/>
            <label for="mail">Email:</label>
            <input type="text" id="mail" name="mail" placeholder="Enter your email (example@domain.com)" required ngModel/>

            <ng-container *ngIf="error" >
              <div class="alert alert-danger error">
                <strong><i class="fa fa-1x fa-exclamation-circle" aria-hidden="true"></i></strong>  {{errorMessage}}
              </div>
            </ng-container>
            <ng-container *ngIf="successOrder" >
              <div class="alert alert-success error">
                <strong><i class="fa fa-check-circle" aria-hidden="true"></i></strong>  {{orderResult}}!
              </div>
            </ng-container>
            <button name="reset" (click)="lgModal.hide()" class="btn btn-danger btn-md" type="reset">Cancel</button>
            <button name="submit"  class="btn btn-success btn-md" type="submit" [disabled]="!isClickable()" (click)="checkClick()">Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
